.header_component {
    .top_header {
        svg {
            color: red;
        }
        background: $white;
    }
    // middle_header
    .middle_header {
        .logo {
            width: 100%;
            max-width: 120px;
        }
        .icon-list {
            li {
                width: 35px;
                height: 35px;
                box-shadow: 0.5px 2px 5px #808080de;
                text-align: center;
                line-height: 35px;
                border-radius: 50px;
            }
        }
    }
}
